@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Assistant:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
body{
   margin: 0;
   padding: 0;

 }
.contacts{
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1444px;
  box-sizing: border-box;
  @media screen and(max-width:480px) {
    padding: 0 12px 0 12px;
  }
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 12px;
  @media screen and(max-width:680px) {
    flex-direction: column-reverse;
    justify-content: center;
  }
  @media screen and (max-width: 480px){
    background: linear-gradient(90deg, #F97B4A 0%, #C6278D 54.18%, #4200FF 95.31%);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    margin: 0px -12px;
  }
  .navbar_buttons{
    @media screen and(max-width: 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media screen and(max-width:680px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-top: 10px;
    }
    @media screen and (max-width: 480px) {
      display: none;
    }

   input{
     border: none;
     border-radius: 5px;
     outline: none;
     font-family: Rubik;
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
     width: 99px;
     height: 35px;
     text-align: center;
     cursor: pointer;
   }
    .whiteB{

      background: white;
      border: 2px solid #828282;
      box-sizing: border-box;
      &:hover{
        color: yellow;
      }
    }
    .redB{
      border: none;

      outline: none;
      margin-left: 15px;
      background: #EB5757;
      color: white;
      @media screen and(max-width: 900px) {
      margin-left: 0;
        margin-top: 5px;
      }
      @media screen and(max-width: 680px) {
        margin-top: 0px;
      }
      &:hover{
        color: black;
      }
    }
  }
  .social{
    margin-left: 12%;
    @media screen and (max-width: 1000px) {
      margin-left: 17px;
    }

  }
}
}

.social{
  display: flex;
  flex-direction: row;
  a{
    img{
      margin-left: 18px;

      height: 35px;
    }
  }
}
.mobiles{
  display: none;

  a{
    img{
      margin-left: 13px;
      height: 16.64px;
    }
  }
  @media screen and (max-width: 480px) {
    display: block;
    margin-left: -21px;
    padding-left: 10px;
  }
}
.desktop{

  @media screen and(max-width: 750px) {
    display: none;
  }
}
 .navbar_links{
   display: flex;
   flex-direction: row;
   @media screen and(max-width:680px) {

     justify-content: center;
   }

   .links{
     list-style: none;
     display: flex;
     flex-direction: row;
     padding: 0;
     li{
       margin-left: 34px;
       @media screen and(max-width:680px) {

       margin-left:   18px;
       }

       a{
         font-family: Rubik;
         font-style: normal;
         font-weight: 500;
         font-size: 18px;
         line-height: 21px;
         color: #4F4F4F;
         text-decoration: none;
         &:hover{
           text-decoration: underline;
         }
       }
     }
     @media screen and (max-width: 480px) {
       display: none;
     }
   }
   .logo{
     margin-left: 20px;
     @media screen and(max-width: 480px){
       width: 54.33px;
       height: 27.46px;
       padding-bottom: 8px;
       padding-top: 7px;
       margin-right: 133px;
     }
   }
 }

//marque



.marqueeW {
  margin-top: 17px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  white-space: nowrap;
div{
  overflow: hidden;
  .marquee{
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #4F4F4F;
  }
}
}



//
//slider
.wrapper{
  margin-top: 25px;
  width: 100%;
}
.multiple-items{
  padding: 0 8% 0 8%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.multiple-items div img {
  width: 66px;
  height: 68px;
}
.slider_element{
  border: none;
  outline: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 92px;
  height: 90px;
}

.slider_element img {
  display: block;
  margin: 0 auto  ;

  height: auto;
  border-radius: 100%;
}
.slider_element span {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;

  color: #4F4F4F;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.prev,
.next{
  height: 23px;
  border-radius: 20px;
  &:hover{
    background-color: yellow;
  }
}
//slider
 .content {

   margin-top: 62px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   .photo{
     //position: relative;
     //width: 716px;
     //height: 848px;
     //display: block;
     //overflow: hidden;
     img{
       object-fit: cover;
       width: 100%;
       //position: absolute;
       //top: 0;
       //left: 0;
       //width: 100%;
     }
     @media screen and (max-width: 716px) {
       //width: 100%;
       //height: auto;
     }
   }
   .contactForm{

     h3{
       font-family: Assistant;
       font-style: normal;
       font-weight: bold;
       font-size: 48px;
       margin: 0;
       color: #333333;
       text-align: right;
       @media screen and (max-width: 690px) {
         text-align: center;
       }
     }
     .contactInfo{

       display: flex;
       flex-direction: row;
       justify-content: left;
       @media screen and (max-width: 690px) {
         flex-direction: column;
         align-items: center;
       }
       .contactInfo_element{

         display: flex;
         align-items: center;
         align-content: center;
           margin-left: 10px;
         margin-top: 13px;
            span{
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              color: #333333;
            }
            svg{
              margin-left: 17px;
            }
       }

     }
     form{

       display: flex;
       flex-direction: column;
       text-align: right;

       letter-spacing: -0.02em;
       @media screen and (max-width:470px) {
         align-items: center;
       }
       h3{
         font-family: Playfair Display;
         font-style: normal;
         font-weight: bold;
         font-size: 48px;
         text-align: right;
         color: #333333;
         margin-top: 24px;
         @media screen and (max-width:470px) {
           text-align: center;
         }

       }
       input{
         margin-top: 17px;
         direction: rtl;
         height: 55px;
         border: 1px solid #E0E0E0;
         box-sizing: border-box;
         border-radius: 10px;
         font-family: Roboto;
         font-style: normal;
         font-weight: normal;
         font-size: 24px;
         line-height: 28px;
         padding: 20px;
         @media screen and (max-width:470px) {
          width: 80%;
         }
       }
       input[type="button"]{
         width: unset;
         height: unset;
         display: block;
         background: linear-gradient(294.72deg, #D3A01D 1.57%, #F2C94C 98.82%);
         box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
         border-radius: 10px;
         margin-left: 60%;
         font-family: Arial;
         font-size: 34px;
         color: white;
         @media screen and (max-width:470px) {
           margin-left:  0;
           margin-top: 10px;
         }
         &:hover{
           color: black;
         }
       }
       textarea{
         outline: none;
         padding: 20px;
         margin-top: 17px;
         direction: rtl;
         border: 1px solid #E0E0E0;
         box-sizing: border-box;
         border-radius: 10px;
         font-family: Roboto;
         font-style: normal;
         font-weight: normal;
         font-size: 24px;
         line-height: 28px;
         resize:none;
         height: 190px;
         min-height:10px;
         @media screen and (max-width:470px) {
           width: 80%;
           height: 135px;
         }
       }
     }
   }
 }

.footer{
  margin: 0 auto;
  width: 100%;
  position: relative;
  margin-top: 200px;
  height: 100px;
  @media screen and (max-width: 1230px) {
   margin-top: 100px;
  }
  @media screen and (max-width: 700px) {
    margin-top: 50px;
  }
  .footer_info{
    margin-top: 24px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    @media screen and (max-width: 1230px) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    @media screen and (max-width: 550px) {
      text-align: center;
    }
    @media screen and (max-width: 700px) {
      align-items: center;
      flex-direction: column;
    }
    .social{
      position: absolute;
      left:45%;
      top: 27px;
      @media screen and (max-width: 1230px) {
        padding-top: 10px;
        padding-bottom: 10px;
        position: static;

      }
    }
  }
}

////////
.mobile{
  width: 28.84px;
  height: 20px;
  &:hover{
    background-color: violet;
    color: rebeccapurple;
  }
}
.socialsM{
  a{
    img{
      margin-left: 13px;
    }
  }
}
.outer-menu {
  @media screen and (max-width: 480px) {
    display: block;

  }
}
input {outline:none;}